<form action="/auth/login" method="POST" id="form">
  <div class="outer-container">
    <img class="paw-img" src="/images/cropped-favicon.png" alt="logo">
    <h2 class="app-title">pick-a-pet</h2>
    <div class="login-container">
      <h4>Login</h4>
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="obiwan">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="thatsnomoon">
      <% if (errorMessage) { %>
        <div class="error-message"><%= errorMessage %></div>
      <% } %>
      <button>Sign in</button>
      <p class="account-message">
          Don't have an account? <a href="/auth/signup">Sign up</a>
      </p>
    </div>
  </div>  
</form>