<header>
        <div class="navbar">
            <div class="backBtn navBtn">
                <a href="/">Back</a>
            </div>

            <div class="profileBtn navBtn" >
                <a href="/users">Profile</a>
            </div>
        </div>
</header>