<header>
        <div class="navbar">
            <a class="backBtn navBtn" href="/">Back</a>
            <span id="closebtn" onclick="navToggle()">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </span>
            <div class="logo">
              <img src=""/>
            </div>
            
            </div>
            <ul id="menulist">
              <li><a class="menuitems" href="#">My Profile</a></li>		
              <li><a class="menuitems" href="#">CASE STUDIES</a></li>				
              <li><a class="menuitems" href="#">CONTACT</a></li>
              <li><a class="menuitems" href="#">RESUME</a></li>
            </ul>
            
</header>

    