<header>
        <div class="navbar">
            <div class="backBtn">
                <a href="/">Back</a>
            </div>
            <div class="backBtn">
                    <a href="/users">Profile</a>
            </div>
        </div>
</header>