<header>
    <div>
        <div class="navbar">
            <div class="navbar-item">
                <a href="/">Back</a>
            </div>
            <div class="navbar-item right">
                <span id="closebtn">
                    <span class="line1"></span>
                    <span class="line2"></span>
                    <span class="line3"></span>
                </span>
            </div>
        </div>
        <ul id="menulist">
          <li><a class="menuitems" href="/users"><i class="far fa-user"></i>    My Profile</a></li>		
          <li><a class="menuitems" href="#"><i class="fas fa-sliders-h"></i> Settings</a></li>				
          <li><form action="/auth/logout" method="GET" id="form">
          <button class="menuitems" type="submit">log out</button> 
</form></li>
        </ul>
    </div>
            
</header>

