<header>
        <div class="navbar">
            <ul>
                <li><a href="/user">Profile</a></li>
                <li><a href="/beers">Back</a></li>
            </ul>
        </div>
    </header>