<header>
        <div class="navbar">
            <ul>
                <li><a href="/users">Profile</a></li>
                <li><a href="/">Back</a></li>
            </ul>
        </div>
    </header>