
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p><a href="/auth/login">Logout</a></p>
    <p><a href="/pets">See Pets</a></p>
    <%#<p><a href="/pets/create">Add pets</a></p>
    <p><a href="/profile">My Profile</a></p>%>

