<h2><%=currentUser.username%> profile</h2>

<form action="/auth/logout" method="GET" id="form">
  <button>Log out</button>
</form>

<ul>
<% for(var i=0; i < pets.length; i++) { %>
  <li><%= pets[i].name %></li>
  <%if(pets[i].isPending){%>
  <form action="/users/<%=pets[i].id%>/confirm" method="post">
  <button type="submit" class="confirmBtn">Confirm</button>
  </form>
    <% } %>
<% } %>
</ul>