<h1>Add a Pet!!</h1>

<form action="/pets/pets" method="POST">
  <input type="text"   name="name" id="name" placeholder="name">
  <input type="text"   name="description" id="description" placeholder="description">
  <input type="date"   name ="date"id="date" placeholder="date">
  <input type="number" name="days" placeholder="num of days">
  <input type="submit" value="submit">
</form>