<%- include('../partials/header')%>
<h1>Add a Pet!!</h1>
<div class="createContainer">
  <form action="/pets/pets" method="POST">
    <div class="createInput">
      <input type="text"   name="name" id="name" placeholder="name">
    </div>
    <div class="createInput">
    <label for="Start Day">Select start date</label>
      <input type="date"   name ="startDay"id="startDay" placeholder="select start date">
    </div>
    <div class="createInput">
    <label for="Finsish Day">Select finish date</label>
      <input type="date"   name ="endDay"id="endDay" placeholder="select finish date">
    </div>
    <div class="createInput">  
      <input type="text"   name="image" placeholder="image url">
    </div>
    <div class="createInput">
      <input type="text"   name="description" id="description" placeholder="description">
    </div>
    <div   class="createInput">
      <input id="createBtn" type="submit" value="submit">
    </div>
  </form>
</div>
