<div class="navbar-pets">
    <ul>
        <li><a href="/pets/create">Add pets</a></li>
        <li><a href="/users">My Profile</a></li>
    </ul>
</div>

<h1><%= title %></h1>
<ul>
<% pets.forEach((pet) => { %>
<%if(pet.pending === true || pet.isPending === null){%>
<div>
    <li><%= pet.name %> <a href="/pets/<%=pet._id%>">More info</a></li>
</div>
<% }%>
  <% }) %>
  </ul>
  