<ul>
    <li><a href="/pets/create">Add pets</a></li>
    <li><a href="/users">My Profile</a></li>
</ul>

<h1><%= title %></h1>
<ul>
<% pets.forEach((pet) => { %>
<%if(pet.adopter === undefined){%>
<div>
    <li><%= pet.name %> <a href="/pets/<%=pet._id%>">More info</a></li>
    <%if(pet.isPending === null){%>
    <%console.log(typeof pet.ownerId, typeof currentUser._id)%>
        <form action="/pets/adopt/<%=pets.id%>" method="post">
        <button type="submit" class="confirmBtn">Confirm</button>
        </form>
    <% } %>
</div>
<% }%>
  <% }) %>
  </ul>
  