body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header{
  background-color: #2081C3;
  width: 100%;
}

.navBtn a{
  color: white;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li{
  display: inline-block;
  padding: 0 5px;
}

header ul{
  list-style: none;
}

header a{
  color: #1a1b1c;
  text-decoration: none;
}

.confirmBtn {
  border-radius: 2px;
  color: white;
  padding: 0.5rem;
  background-color: #2081C3;
}

.paw-img {
  display: block;
  margin: 18% auto 5% auto;
  width: 20%;
}

.app-title {
  display: block;
  margin: 0 auto 7% auto;
  width: 50%;
  text-align: center;
}

.login-container {
  display: block;
  border-style: solid;
  margin: 5% 12% 20% 12%;
  min-height: 80%;
  padding: 1rem;
}
