body {
  font-family: 'Roboto', sans-serif;
 }
 
 a {
  color: #00B7FF;
 }
 
 header{
  background-color: rgb(207, 132, 11);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
 }
 
 .navBtn a{
  color: white;
 }
 
 .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 header ul li{
  display: inline-block;
  padding: 0 5px;
 }
 
 header ul{
  list-style: none;
 }
 
 header a{
  color: #1a1b1c;
  text-decoration: none;
  font-size: 18px;
 }
 
 .confirmBtn {
  border-radius: 2px;
  color: white;
  padding: 0.5rem;
  background-color: rgb(207, 132, 11);
 }
 
 .logo-img {
  display: block;
  margin: 0 auto;
  width: 200px;
 }
 
 .app-title {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-family: 'Delius', cursive;
 }
 
 .login-container {
  display: block;
  margin: 1% 12% 5% 12%;
  min-height: 80%;
  padding: 1rem;
  
 }

 .outer-login-container {
  transform: rotateY(360deg);
  transform-style: preserve-3d;
  transition: transform 0.25s ease;
 }

 .signup-container {
  display: block;
  margin: 1% 12% 5% 12%;
  min-height: 80%;
  padding: 1rem;
 }
 
 .h3login{
  text-align: center;
 }
 
 
 #signupBtn{
  width: 250px;
  border-radius: 40px;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(207, 132, 11);
  border-style: none;
  -webkit-box-shadow: 0px 32px 19px -14px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 32px 19px -14px rgba(0,0,0,0.47);
  box-shadow: 0px 32px 19px -14px rgba(0,0,0,0.47);
 }
 .outer-container{
  margin-top: 70px;
 }
 .btnContainer{
  display: flex;
 }

.h3login{
  text-align: center;
}

#signupBtn{
  width: 250px;
  border-radius: 40px;
  height: 50px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 32px 19px -14px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 32px 19px -14px rgba(0,0,0,0.47);
  box-shadow: 0px 32px 19px -14px rgba(0,0,0,0.47);
}
.outer-container{
  margin-top: 70px;
}
.btnContainer{
  display: flex;
}
/* .navbar-pets {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  
  margin: 0;
} */

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px;
  background-color: rgb(207, 132, 11);
  color: white;
  top: 0;
}

.navbar-item {
  flex-grow: 1;
  flex-basis: 50%;
}

.navbar-item > a {
  color: white;
}

.right {
  display: flex;
  flex-direction: row-reverse;
}

#closebtn span {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}
#menulist {
  height: 0;
  /* z-index: 1; */
  width: 100%;
  transition-duration: 0.3s;
}

#menulist:ul li {
  display: none;
}
#menulist li {
  display: none;
  opacity: 0;
}

#menulist li a {
  color: white;
}

#menulist.show-menu {
  height: 30vh;
  background: rgb(39, 37, 33);
  transition-duration: .3s;
  position: relative;
  display: block;
  float: right;
}

#menulist.show-menu li{
  display: block;
  opacity: 1;
  animation: fadeIn 1s;
}

#menulist li {
  padding: 20px 0;
  text-align: center;
  transition-delay: 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

.account-message{
  text-align: center;
  margin-top: 30px;
}

.details-container {
  display: block;
  text-align: center;
}

.details-container h2 {
 font-size: 5vh;
 margin: 2rem auto;
}

.pet-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.details-img {
  border-radius: 10px;
  height: 36vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  border-radius: 0.5rem;
}
.detailed-details {
  margin-top: 1rem;
}
.div-btn {
  padding-top: 1.5rem;
} 

.listli{
  font-size: 18px;
  padding: 5px;
}
.card:first-of-type{
  margin-top: 80px;
}
.card{
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 29px -5px rgba(80, 42, 42, 0.75);
  box-shadow: 0px 8px 29px -5px rgba(0,0,0,0.75);
  height: 400px;
  min-height: 370px;
  max-height: 400px;

}
.cardImage{
  border-radius: 10px;
  height: 36vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  
}

#infoBtn{
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.75);

}

#infoBtn a{
  color: #1a1b1c;
}

.addBtn a{
  color: white;
}

#addBtn{
  border-radius: 50%;
  height: 90px;
  width: 90px;
  -webkit-box-shadow: 0px 8px 22px -4px #9c6216e3;
  -moz-box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.75);
  font-size: 18px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-style: none;
  background-color: rgb(192, 117, 18);
  color: white;
}
#addBtn a{
  color: white;
}

.name-pic-container{
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.prof-pic {
  margin: 0;
  text-align: center;
  width: 40%;
}

.prof-name h2 {
  font-size: 2rem;
  text-align: left;
  margin: 3rem;
  padding-top: 4rem;
}

.aceptDecline{
  display: flex;

}
.btn.profileBtns{
  width: 100px;
  color: white;
}
.createContainer{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.createContainer input{
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(39, 37, 33);
}
#createBtn{
  border-radius: 30px;
  border-style: none;
  background-color: rgb(97, 66, 10);
  color: white;
  font-size: 16px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.75);
  font-size: 18px;
}

.alert-success {
  margin-top: 9vh;
  z-index: 2;
  opacity: 0;
  animation: fadeOut 6s;
  position: absolute;
  width: 100%;
  top: 0;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

@keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0;
  }
}

.alert-danger {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}